/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */
.container {
    max-width: 1200px;
    margin: auto;
}

.container-small {
    max-width: 1000px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.col-20 {
    width: 20%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-100 {
    width: 100%;
}

.col-1-6 {
    width: calc(100%/6);
}

.col-2-6 {
    width: calc(100%/6*2);
}

/* --------------- UTILITY ---------------*/
.border-dashed {
    padding: 5px;
    border: 1px solid;
    border-style: dashed;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* PADDING */
.py-10 {
    padding: 10px;
}

.py-40 {
    padding: 40px;
}

.padding-5col {
    padding-top: 10px;
    padding-bottom: 30px;
}

/* HEIGHT */
.height-400px {
    height: 400px;
}

.height-700px {
    height: 700px;
}

/* COLORS */
.bg-orange {
    background-color: orange;
}

.bg-violet {
    background-color: violet;
}

.bg-pink {
    background-color: pink;
}

.bg-blue {
    background-color: cornflowerblue;
}

.bg-darkblue {
    background-color: darkblue;
}

.bg-lightgrey {
    background-color: lightgray;
}

.bg-green {
    background-color: green;
}

.bg-darkgrey {
    background-color: rgb(25, 25, 25);
}

.bg-aquamarine {
    background-color: aquamarine;
}

/* HEADER */
header {
    padding: 10px 0px;
    background-color: lightblue;
}